<html >
<head>

<title>Ignite</title>



</head>

<body>
    <div class="header">
        <img src="assets/images/flame.jpeg" alt="logo" />
        <h1>Ignite</h1>
      </div>
      <br>
      <div class="topnav">

    <button class="buton" value="submit" (click) = home()><span>Home</span></button>
    </div>

	<h2><font color="brown">About Us</font></h2>
	<p class="text"> <font color="slateblue">OUR VISION:</font><br />
	  ------------------<br />
	  <font color="black">To become market leaders in customer service with the customer satisfaction index and safety standards. </font><br />
	  <br />
	 <font color="slateblue">OUR MISSION:</font><br />
	----------------------<br />
	<font color="black">To make our product a dominant brand in the segments we market by becoming trend setters in customer service,safety and quality.</font></p>
	<h3><font color="brown">Latest services</font></h3>
	  <ul><br /> <font color="black">
	  <li>Present in over 30 million homes.</li>
		<li>	Facilities to book your re-fill cylinders on-line</li>
		<li>Home appliances are available at attractive discounts from your<font color="green">&nbsp; Ignite</font> distributors.</li>
		<li>49 modern filling plants to bottle <font color="green"> Ignite</font>&nbsp; cylinders</li>
		</font>
	  </ul>
  

</body>
</html>