
<html>
<head>


</head>

<body>
	<div class="header">
        <img src="assets/images/flame.jpeg" alt="logo" />
        <h1>Ignite</h1>
      </div>
      <br>
      <div class="topnav">
    
    <button class="buton" value="submit" (click) = home()><span>Home</span></button>
    </div>
	  
	  <p><font color="white">&nbsp;&nbsp;&nbsp;&nbsp;TEL. NO:</font><br/></p>
	   <p><font color="red">&nbsp;&nbsp;&nbsp;&nbsp;ADMINSTRATION-Sonu: +91-9923-323-111</font></p>
	  <p><font color="red">&nbsp;&nbsp;&nbsp;&nbsp;CUSTOMER CARE-Bhagya: +91-9876-543-210</font></p>
	  <p><font color="red">&nbsp;&nbsp;&nbsp;&nbsp;CUSTOMER CARE-Hampi: 1800-2242318.</font></p>

</body>
</html>  