<html>
<body>

    <div class="header">
        <img src="assets/images/flame.jpeg" alt="logo" />
        <h1>Ignite</h1>
      </div>
      <br>
      <div class="topnav">
        <button class="buton" value="submit" (click) = home()><span>Home</span></button>
        <button class="buton" value="submit" (click) = Pro()><span>Products</span></button>
        <button class="buton" value="submit" (click) = contact()><span>ContactUs</span></button>
        <button class="buton" value="submit" (click) = about()><span>AboutUs</span></button>
      
      </div>
    <h3 align="center">Registration Success</h3>
    <div align="center">
   

    <button type="submit" class="buton1_" routerLink="/validatelogin" ><b>Proceed to login</b></button>
    
</div>
</body>
</html>

