.buton {
    border-radius: 4px;
    background-color: #2E86C1  ;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .topnav {
    overflow: hidden;
    background-color:#34495E  ;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
   
  }
  
  .topnav a.active {
    background-color: #2E86C1;
    color: white;
  }
  
  .header img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;
  }
  
  .header h1 {
    position: relative;
    top: 10px;
    left: 10px;
  }

  .buton1_{
    background-color: hsl(170, 59%, 45%);
    color: #fff;
    padding: 8px;
    border: 1px solid #5430b8;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 18px;
    margin-right: 8px;
}